w 5
f /home/riaps/riaps-tests/testPubSub
e Testing 1 to 1 local
m test_1_1_local.riaps
d testLocal_1.depl
l testPubSub
w 60
h testPubSub
r testPubSub
w 120
e Testing 1 to 1 remote
m test_1_1_remote.riaps
d testRemote_1.depl
l testPubSub
w 60
h testPubSub
r testPubSub
w 120
e Testing 1 to N local
m test_1_N_local.riaps
d testLocal_N.depl
l testPubSub
w 60
h testPubSub
r testPubSub
w 120
e Testing N to 1 local
m test_N_1_local.riaps
d testLocal_N.depl
l testPubSub
w 60
h testPubSub
r testPubSub
w 120
e Testing N to N local
m test_N_N_local.riaps
d testLocal_N.depl
l testPubSub
w 60
h testPubSub
r testPubSub
w 120
e Testing 1 to N remote
m test_1_N_remote.riaps
d testRemote_N.depl
l testPubSub
w 60
h testPubSub
r testPubSub
w 120
e Testing N to 1 remote
m test_N_1_remote.riaps
d testRemote_N.depl
l testPubSub
w 60
h testPubSub
r testPubSub
w 120
e Testing N to N remote
m test_N_N_remote.riaps
d testRemote_N.depl
l testPubSub
w 60
h testPubSub
r testPubSub
w 60
e Tests Complete
q
